<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="python" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\home\python364x64\python.exe|D:\home\site\wwwroot\ptvs_virtualenv_proxy.py" resourceType="Either" requireAccess="Script" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="Static Files" stopProcessing="true">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="None" />
        </rule>
        <rule name="Dynamic Content">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.py" />
        </rule>
      </rules>
    </rewrite>
    <applicationInitialization>
      <add initializationPage="/" />
    </applicationInitialization>
    <directoryBrowse enabled="false" />
  </system.webServer>
  <startup>
    <startupCommand bash="D:\home\site\wwwroot\startup.sh" />
  </startup>
</configuration>
