body {
    padding-top: 56px;
}

.card img, .card iframe {
    height: 200px;
    object-fit: cover;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.navbar-nav .nav-link.active {
    font-weight: bold;
}

/* Add this to your styles.css */
.iframe-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
